<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="SampleApp">
 <head>
  <link href="style.css" rel="stylesheet"/>
   <link href="css/bootstrap.css" rel="stylesheet"/>
   <link href="css/bootstrap-theme.css" rel="stylesheet"/>
   
   <script src="angular-1.5.8/angular.js"></script>
     <meta charset="utf-8">
 <title>MM</title>
 <script>
  var app=angular.module("SampleApp", []);
  app.controller("SampleAppCtrl", function ($scope){
  $scope.removeElem1=true;
  $scope.removeElem2=true;
  $scope.removeElem3=true;
});
 </script>
</head>
<body ng-controller="SampleAppCtrl">
<div>
<input type="checkbox" ng-model="removeElem1"/> remove Element 1<br />
<input type="checkbox" ng-model="removeElem2"/> remove Element 2<br />
<input type="checkbox" ng-model="removeElem3"/> remove Element 3
</div>
<div id="d1" ng-if="removeElem1"> Element 1</div>
<div id="d2" ng-if="removeElem2"> Element 2</div>
<div id="d3" ng-if="removeElem3"> Element 3</div>
</body>
</html>